.container {
    background-color: var(--preto2);
    width: 100%;

    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.div {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;
    gap: 10px;

    margin-top: 30px;
}

.titulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.subtitulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.1rem;
    line-height: 1.5rem;
    font-weight: 700;
    color: #A7A7A7;
}

.textoNormal {
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
    color: #A7A7A7;
}

/* =-=-=-=-=-=-=-=-=-=-= musicaRow.js =-=-=-=-=-=-=-=-=-=-= */
.divMusica {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    margin-left: 20px;
    margin-right: 20px;
    padding: 8px;
    padding-left: 16px;
    padding-right: 16px;

    color: #A7A7A7;
    font-size: 1rem;
    line-height: 1rem;
    font-weight: 400;
}

.divMusica>div {
    flex: 1 1 30%;
}

.divMusica:hover {
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, .3);
}

.divMusica:hover .verdeOnHover {
    color: var(--verde);
}

.verde {
    color: var(--verde);
}

.divEsquerda {
    /* background-color: red; */

    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 25px;
}

.contador {
    /* background-color: pink; */
    min-width: 20px;
}

.divInfoMusica {
    /* background-color: red; */
    line-height: 1.2rem;

    display: flex;
    flex-direction: column;
}

.divMeio {
    /* background-color: red; */
    display: flex;
    justify-content: flex-start;
}

.divDireita {
    /* background-color: red; */
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
}

/* =-=-=-=-=-=-=-=-=-=-= Exibir/esconder play =-=-=-=-=-=-=-=-=-=-= */
.esconderPlay {
    display: none;
}

.divMusica:hover .esconderPlay {
    display: block;
}

.divMusica:hover .contador {
    display: none;
}

.esconderItem1 {
    display: none;
}

.contadorItem1 {
    /* background-color: pink; */
    min-width: 20px;
}

.esconderPlay:hover svg path {
    fill: var(--verde) !important;
}