:root {
  --preto: #181818;
  --super-preto: #000000;
  --preto2: #121212;
  --cinza: #2D2D35;
  --branco: #FFFFFF;
  --verde: #1DB954;
  --toastify-color-progress-light: var(--verde);
}

html, body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.semDrag {
  pointer-events: none;
}

.semHighlight {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}

.svg16px {
  min-width: 16px;
  min-height: 16px;
  max-width: 16px;
  max-height: 16px;
}

.pointer {
  cursor: pointer;
}

.verde {
  color: var(--verde);
}

/* =-=-=-=-=-=-=-=-=-=-= Scroll =-=-=-=-=-=-=-=-=-=-= */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--super-preto);
}

::-webkit-scrollbar-thumb {
  background: #6b6e70;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background: #949799;
}

/* =-=-=-=-=-=-=-=-=-=-= nprogress =-=-=-=-=-=-=-=-=-=-= */
#nprogress .bar {
  background: var(--verde) !important;
  height: 4px !important
}

#nprogress .peg {
  box-shadow: 0 0 10px var(--verde), 0 0 5px var(--verde) !important
}

#nprogress .spinner-icon {
  border-top-color: var(--verde) !important;
  border-left-color: var(--verde) !important
}

#nprogress .bar, .peg {
  background: var(--verde) !important;
  box-shadow: none !important;
  height: 3px !important
}

#nprogress .spinner-icon {
  border-top-color: var(--verde) !important;
  border-left-color: var(--verde) !important
}