.container {
    background-color: var(--preto2);
    width: 100%;

    display: flex;
    flex-direction: column;

    overflow-y: auto;
    overflow-x: hidden;

    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 100px;
}

.bomDia {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 2rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.titulo {
    box-sizing: border-box;
    -webkit-tap-highlight-color: transparent;
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    font-weight: 700;
    color: var(--branco);
}

.div {
    /* background-color: pink; */
    display: flex;
    flex-direction: column;

    margin-top: 30px;
}

.botaoCustom button {
    background-color: var(--verde);
}