.navbar {
    /* background-color: pink; */
    background-color: var(--preto2);
    width: 100%;
    min-height: 60px;

    display: flex;
    align-items: center;

    color: var(--branco);
    font-size: 0.8rem;
    line-height: 1rem;
    font-weight: 700;
    opacity: 0.8;
}

.divDireita {
    /* background-color: pink; */
    margin-left: auto;
    margin-right: 30px;
}

.divOpcoes {
    /* background-color: pink; */
    background-color: var(--super-preto);

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    border: 0;
    border-radius: 24px;
    color: #fff;
    cursor: pointer;
    height: 32px;
    padding: 16px;
}

.subMenu {
    /* background-color: pink; */
    background-color: var(--super-preto);

    position: absolute;
    right: 30px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    margin-top: 10px;
    border-radius: 10px;
    padding: 16px;

    font-weight: 600 !important;
}