.sidebar {
    background-color: var(--super-preto);
    width: 270px;

    color: var(--branco);

    padding-left: 25px;
    padding-right: 25px;
    padding-top: 24px;
    padding-bottom: 22px;

    display: flex;
    /* align-items: center; */
    flex-direction: column;
    gap: 16px;
}

.divIcones {
    /* background-color: red; */
    margin-top: 15px;

    display: flex;
    flex-direction: column;
    gap: 15px;
}

.divIcones span {
    /* background-color: pink; */

    font-size: 0.875rem;
    line-height: 1rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
    opacity: 0.8;

    display: flex;
    align-items: center;
    gap: 15px;
}

.divIcones span:hover {
    opacity: 1;
    cursor: pointer;
}